<h1>Editing ingredient</h1>
<%= render "form", ingredient: @ingredient %>
<div class="row text-center mt-2">
  <%= button_to [:use_all, @ingredient], class: "btn btn-primary" do %>
    USE ALL: <%= @ingredient.name %>
  <% end %>
</div>
<br>
<div>
  <%= link_to "Back to home", root_path %>
</div>
