<!-- TODO https://www.colby.so/posts/filtering-tables-with-rails-and-hotwire -->
<div class="container mt-4">
  <div class="px-4">
    <form>
      <input type="text" name="search" class="form-control" placeholder="Search from <%= @ingredient_count %> ingredients...">
    </form>
  </div>
  <table class="table table-hover table-striped mt-4">
    <thead>
      <tr>
        <th class="col-4">Ingredient</th>
        <th class="col-2">Amount</th>
        <th class="col-2">Expires</th>
        <th class="col-1">Location</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ingredient| %>
        <%= render 'shared/row', i: ingredient %>
      <% end %>
    </tbody>
  </table>
  <% if params[:search] %>
    <div class="text-center">
      <%= link_to "Show All", root_path, class: "btn btn-primary" %>
      <%= link_to "Add New", new_ingredient_path, class: "btn btn-success" %>
    </div>
    
  <% end %>
</div>
