<!-- TODO https://www.colby.so/posts/filtering-tables-with-rails-and-hotwire -->
<div class="container mt-4">
  <div class="input-group input-group-lg px-4">
    <input type="text" class="form-control" placeholder="Search from <%= @ingredient_count %> ingredients...">
  </div>
  <div class="mt-4 text-center">
    <%= link_to "Add a new Ingredient", new_ingredient_path, class: "btn btn-success" %>
  </div>
  <table class="table table-hover table-striped mt-4">
    <thead>
      <tr>
        <th class="col-4">Ingredient</th>
        <th class="col-2">Amount</th>
        <th class="col-2">Expires</th>
        <th class="col-1">Location</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ingredient| %>
        <%= render 'shared/row', i: ingredient %>
      <% end %>
    </tbody>
  </table>
</div>
